header div{
    background-color: gray;
    height: 30px;
    padding: 58px;
}

.web {
    color: white;
    padding-left: 528px;
    margin: -11px;
    font-size: 43px;
    background-color: black;
}

.main {
    background-color: rgba(161, 41, 41, 0.979);
    color: white;
display: flex;
padding: 25px;
padding-left: 549px;
justify-content: 
}

p {
    margin: 10px;
}
.moment{
    display: flex; 
     align-items: center; 
    justify-content: center; 
}
.content {
    margin: 134px;
    padding-left: 63px;
}
.a {
    background-color: antiquewhite;
}

.text input{
    border-radius: 10px;
    margin: 13px;
    margin-left: 579px;
    width: 182px;
    height: 21px;
}

.open {
    background-color: rgba(161, 41, 41, 0.979);
    height: 65px;
}

.open p{
    margin-left: 562px;
    margin-top: 78px;
    padding-top: 19px;
}





















